{
  "openapi": "3.1.0",
  "info": {
    "title": "Super Skylab API",
    "description": "Super Skylab Service API",
    "version": "1.0"
  },
  "servers": [{ "url": "https://api.yildizskylab.com", "description": "Gateway Server" }],
  "security": [{ "oauth2": [] }],
  "tags": [
    {
      "name": "Duyuru Yönetimi",
      "description": "Sistem genelindeki duyuruların oluşturulması, listelenmesi ve güncellenmesi işlemleri."
    },
    {
      "name": "Etkinlik Günleri",
      "description": "Çok günlü etkinliklerin günlük program yönetimi."
    },
    {
      "name": "Etkinlik Yönetimi",
      "description": "Etkinliklerin listelenmesi, oluşturulması, güncellenmesi ve silinmesi işlemleri"
    },
    {
      "name": "Sezon Yönetimi",
      "description": "Akademik/Eğitim sezonlarının (Örn: 2024-2025 Sezonu) listelenmesi ve yönetimi"
    },
    {
      "name": "Sertifika Yönetimi",
      "description": "Etkinlik katılımcılarına verilen sertifikaların yönetimi."
    },
    {
      "name": "Bilet İşlemleri",
      "description": "Kullanıcı biletlerinin sorgulanması ve Check-in onaylama işlemleri."
    },
    {
      "name": "Sezon - Etkinlik Yönetimi",
      "description": "Etkinlikleri ilgili sezonlara bağlama ve ayırma işlemleri"
    },
    {
      "name": "Etkinlik Türü Yönetimi",
      "description": "Sistemdeki etkinlik kategorilerinin (AGC, GECEKODU vb.) tanımlanması ve yönetilmesi."
    },
    {
      "name": "Kullanıcı Yönetimi",
      "description": "Kullanıcı profilleri, yetkilendirmeler ve LDAP entegrasyon işlemleri"
    },
    {
      "name": "QR Kod Servisi",
      "description": "Dinamik veri veya URL'ler için anlık QR kod üretimi"
    },
    {
      "name": "Etkinlik Görselleri",
      "description": "Etkinliklere görsel ekleme ve çıkarma işlemleri."
    },
    { "name": "Etkinlik Biletleri", "description": "Etkinliğe ait biletlerin listelenmesi" },
    {
      "name": "Etkinlik Oturumu Yönetimi",
      "description": "Etkinliklerin iç programını oluşturan konuşma, dinleti ve oturumların yönetimi."
    },
    {
      "name": "Yarışmacı Yönetimi",
      "description": "Kullanıcıların yarışmalara katılımı, puanlama sistemi ve liderlik tablosu işlemleri."
    },
    {
      "name": "Etkinlik - Yarışmacılar Alt Kaynağı",
      "description": "Belirli bir etkinliğe bağlı yarışmacı işlemlerinin yönetimi."
    },
    { "name": "Etkinlik Oturumları", "description": "Etkinlik oturumları ile ilgili işlemler" },
    {
      "name": "Etkinlik Başvuruları (Bilet)",
      "description": "e-skylab üyelerinin ve misafirlerin etkinliklere kayıt olma işlemleri"
    },
    {
      "name": "Etkinlik Türü - Koordinatörler",
      "description": "Etkinlik kategorilerinin organizasyon yetkililerini listeleme."
    },
    {
      "name": "Medya Yönetimi",
      "description": "Sistem üzerinde dosya ve medya yükleme, okuma işlemleri."
    }
  ],
  "paths": {
    "/api/sessions/{id}": {
      "put": {
        "tags": ["Etkinlik Oturumu Yönetimi"],
        "summary": "Oturum Güncelle",
        "description": "Var olan bir oturumun spesifik verilerini günceller.",
        "operationId": "updateSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Oturum UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateSessionRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSessionDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Etkinlik Oturumu Yönetimi"],
        "summary": "Oturum Sil",
        "description": "Oturum kaydını sistemden kalıcı olarak temizler.",
        "operationId": "deleteSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Oturum UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultVoid" } } }
          }
        }
      }
    },
    "/api/seasons/{id}": {
      "get": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Sezon Detayı Getir",
        "description": "Belirtilen UUID'ye sahip sezonun bilgilerini getirir.",
        "operationId": "getSeasonById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSeasonDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Sezon Güncelle",
        "description": "Belirtilen sezonun isim, tarih veya aktiflik durumunu günceller.",
        "operationId": "updateSeason",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateSeasonRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSeasonDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Sezon Sil",
        "description": "Belirtilen sezonu kalıcı olarak siler.",
        "operationId": "deleteSeason",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/events/{id}": {
      "get": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Etkinlik Detayını Getir",
        "description": "Belirtilen UUID değerine sahip etkinliğin detaylarını döner.",
        "operationId": "getEventById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlik detayları getirildi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventDto" } }
            }
          },
          "404": { "description": "Etkinlik bulunamadı." }
        }
      },
      "put": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Etkinliği Güncelle",
        "description": "Var olan bir etkinliğin bilgilerini günceller.",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateEventRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Etkinlik başarıyla güncellendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventDto" } }
            }
          },
          "403": { "description": "Erişim reddedildi (Yetersiz rol)." },
          "404": { "description": "Güncellenmek istenen etkinlik bulunamadı." }
        }
      },
      "delete": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Etkinliği Sil",
        "description": "Belirtilen etkinliği sistemden kalıcı olarak siler.",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlik başarıyla silindi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "403": { "description": "Erişim reddedildi (Yetersiz rol)." },
          "404": { "description": "Silinmek istenen etkinlik bulunamadı." }
        }
      }
    },
    "/api/event-types/{id}": {
      "get": {
        "tags": ["Etkinlik Türü Yönetimi"],
        "summary": "Etkinlik Türü Detayı Getir",
        "description": "Belirtilen UUID'ye sahip etkinlik kategorisinin detaylarını getirir.",
        "operationId": "getEventTypeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventTypeDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["Etkinlik Türü Yönetimi"],
        "summary": "Etkinlik Türünü Güncelle",
        "description": "Etkinlik kategorisinin ismini veya yetkili rollerini günceller.",
        "operationId": "updateEventType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateEventTypeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventTypeDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Etkinlik Türü Yönetimi"],
        "summary": "Etkinlik Türü Sil",
        "description": "Belirtilen etkinlik kategorisini sistemden siler.",
        "operationId": "deleteEventType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/event-days/{id}": {
      "get": {
        "tags": ["Etkinlik Günleri"],
        "summary": "Etkinlik Günü Detayını Getir",
        "description": "Belirtilen UUID'ye sahip etkinlik gününün detaylarını döner.",
        "operationId": "getEventDayById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik Günü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultGetEventDayResponseDto" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Etkinlik Günleri"],
        "summary": "Etkinlik Günü Güncelle",
        "operationId": "updateEventDay",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik Günü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateEventDayRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultGetEventDayResponseDto" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Etkinlik Günleri"],
        "summary": "Etkinlik Günü Sil",
        "description": "Bağlı oturumu olmayan etkinlik gününü siler.",
        "operationId": "deleteEventDay",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Etkinlik Günü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/competitors/{id}": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Yarışmacı Detayını Getir",
        "description": "Belirtilen yarışmacı ID'sine ait detayları döner.",
        "operationId": "getCompetitorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCompetitorDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Yarışmacı Verisini Güncelle",
        "description": "Yarışmacının puanlama veya kazanma durumunu günceller.",
        "operationId": "updateCompetitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Yarışmacı UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCompetitorRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCompetitorDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Yarışmacı Kaydını Sil",
        "description": "Yarışmacı atamasını sistemden kalıcı olarak temizler.",
        "operationId": "deleteCompetitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Yarışmacı UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/certificates/{id}": {
      "get": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Sertifika Detayını Getir",
        "operationId": "getCertificateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Sertifika UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCertificateDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Sertifika Güncelle",
        "operationId": "updateCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Sertifika UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCertificateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCertificateDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Sertifika Sil",
        "operationId": "deleteCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Sertifika UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/internal/api/users/batch": {
      "post": {
        "tags": ["internal-user-controller"],
        "operationId": "getUsersByIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListUserDto" } }
            }
          }
        }
      }
    },
    "/api/users/{id}/promote": {
      "post": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Kullanıcıyı LDAP Üyesine Terfi Ettir",
        "description": "Normal bir uygulamaya kayıtlı kullanıcıyı LDAP dizinine ekler.",
        "operationId": "promoteUserToLdap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/PromoteUserRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kullanıcı başarıyla LDAP üyesi yapıldı.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": { "description": "Kullanıcı zaten LDAP üyesi." }
        }
      }
    },
    "/api/users/me/profile-picture": {
      "post": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Profil Fotoğrafı Yükle",
        "description": "Kullanıcının profil fotoğrafını skycdn'e yükler ve kaydeder.",
        "operationId": "updateProfilePicture",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "image": { "type": "string", "format": "binary" } },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/tickets/{ticketId}/event-days/{eventDayId}/check-in": {
      "post": {
        "tags": ["Bilet İşlemleri"],
        "summary": "Bilet Doğrulama (Check-In)",
        "description": "Etkinlik girişinde yetkili personel tarafından bilet doğrulama (okutma) işlemi yapar.",
        "operationId": "checkInToEvent",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Bilet UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventDayId",
            "in": "path",
            "description": "Etkinlik Günü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Check-in başarıyla kaydedildi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": {
            "description": "Geçersiz işlem (Bilet bu etkinliğe ait değil veya mükerrer okutma)."
          },
          "403": { "description": "Yetkisiz erişim. Sadece yetkili personel check-in yapabilir." }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "tags": ["Etkinlik Oturumu Yönetimi"],
        "summary": "Tüm Oturumları Listele",
        "description": "Sistemdeki mevcut tüm bağımsız oturumları listeler.",
        "operationId": "getAllSessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListSessionDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Etkinlik Oturumu Yönetimi"],
        "summary": "Oturum Oluştur",
        "description": "Sisteme yeni bir oturum tanımlar. Konuşmacı görseli opsiyoneldir.",
        "operationId": "addSession",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": { "data": { "$ref": "#/components/schemas/CreateSessionRequest" } },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Oturum başarıyla eklendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSessionDto" } }
            }
          },
          "400": { "description": "Validasyon hatası veya tarihler arası uyumsuzluk." }
        }
      }
    },
    "/api/seasons": {
      "get": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Tüm Sezonları Getir",
        "description": "Sistemdeki tüm sezon kayıtlarını getirir.",
        "operationId": "getAllSeasons",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListSeasonDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Yeni Sezon Ekle",
        "description": "Sisteme yeni bir sezon (Örn: 2025-2026) ekler.",
        "operationId": "addSeason",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateSeasonRequest" } }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Sezon başarıyla oluşturuldu.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSeasonDto" } }
            }
          },
          "400": { "description": "Sezon adı zaten mevcut veya tarihler hatalı." }
        }
      }
    },
    "/api/seasons/{seasonId}/events/{eventId}": {
      "post": {
        "tags": ["Sezon - Etkinlik Yönetimi"],
        "summary": "Etkinliği Sezona Ata",
        "description": "Var olan bir etkinliği belirtilen sezona dahil eder.",
        "operationId": "addEventToSeason",
        "parameters": [
          {
            "name": "seasonId",
            "in": "path",
            "description": "Sezon UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlik sezona başarıyla atandı.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": { "description": "Etkinlik zaten bu sezona atanmış." },
          "404": { "description": "Sezon veya etkinlik bulunamadı." }
        }
      },
      "delete": {
        "tags": ["Sezon - Etkinlik Yönetimi"],
        "summary": "Etkinliği Sezondan Çıkar",
        "description": "Belirtilen etkinliğin sezon ile olan bağını koparır.",
        "operationId": "removeEventFromSeason",
        "parameters": [
          {
            "name": "seasonId",
            "in": "path",
            "description": "Sezon UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlik sezondan başarıyla çıkarıldı.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": { "description": "Etkinlik zaten bir sezona ait değil." }
        }
      }
    },
    "/api/media": {
      "post": {
        "tags": ["Medya Yönetimi"],
        "summary": "Medya Yükle",
        "description": "Sisteme dosya (görsel, döküman vb.) yükler ve dönüş olarak erişim URL'i sağlar.",
        "operationId": "uploadMedia",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Yüklenecek Dosya"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Medya başarıyla yüklendi.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultMediaUploadResponseDto" }
              }
            }
          },
          "400": { "description": "Geçersiz dosya tipi veya boyutu." },
          "403": { "description": "Yetkisiz erişim." }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Tüm Etkinlikleri Getir",
        "description": "Sistemdeki tüm etkinlikleri listeler. Filtreleme parametreleri opsiyoneldir.",
        "operationId": "getAllEvents",
        "parameters": [
          {
            "name": "typeName",
            "in": "query",
            "description": "Etkinlik türü adına göre filtreleme",
            "required": false,
            "schema": { "type": "string" },
            "example": "AGC"
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlikler başarıyla listelendi.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SuccessDataResult" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Yeni Etkinlik Oluştur",
        "description": "Yeni bir etkinlik kaydı oluşturur. Kapak fotoğrafı opsiyoneldir.",
        "operationId": "addEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "data": { "$ref": "#/components/schemas/CreateEventRequest" } },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Etkinlik başarıyla oluşturuldu.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventDto" } }
            }
          },
          "400": {
            "description": "Validasyon hatası veya geçersiz veri.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventDto" } }
            }
          },
          "401": { "description": "Yetkilendirme hatası (Token geçersiz)." },
          "403": { "description": "Erişim reddedildi (Yetersiz rol)." }
        }
      }
    },
    "/api/events/{eventId}/images": {
      "post": {
        "tags": ["Etkinlik Görselleri"],
        "summary": "Etkinliğe Görsel Ekle",
        "description": "Belirtilen etkinliğe bir veya birden fazla görsel atar.",
        "operationId": "addImagesToEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      },
      "delete": {
        "tags": ["Etkinlik Görselleri"],
        "summary": "Etkinlikten Görsel Çıkar",
        "description": "Belirtilen etkinlikten bir veya birden fazla görseli kaldırır.",
        "operationId": "removeImagesFromEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      }
    },
    "/api/events/{eventId}/applications/me": {
      "post": {
        "tags": ["Etkinlik Başvuruları (Bilet)"],
        "summary": "Kayıtlı Üye Başvurusu",
        "description": "Token sahibi kullanıcının etkinliğe bilet almasını sağlar.",
        "operationId": "applyToEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "201": {
            "description": "Başvuru başarılı, bilet oluşturuldu.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": { "description": "Kullanıcı bu etkinliğe zaten kayıtlı veya iş kuralı ihlali." },
          "401": { "description": "Yetkilendirme hatası." },
          "404": { "description": "Etkinlik bulunamadı." }
        }
      }
    },
    "/api/events/{eventId}/applications/guest": {
      "post": {
        "tags": ["Etkinlik Başvuruları (Bilet)"],
        "summary": "Misafir Başvurusu",
        "description": "Sisteme kayıtlı olmayan dış kullanıcıların form doldurarak bilet almasını sağlar.",
        "operationId": "applyToEventAsGuest",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GuestTicketRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Misafir bileti başarıyla oluşturuldu.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "400": { "description": "Validasyon hatası veya e-posta kullanımda." },
          "404": { "description": "Etkinlik bulunamadı." }
        }
      }
    },
    "/api/event-types": {
      "get": {
        "tags": ["Etkinlik Türü Yönetimi"],
        "summary": "Tüm Etkinlik Türlerini Getir",
        "description": "Sistemdeki kayıtlı tüm etkinlik kategorilerini listeler.",
        "operationId": "getAllEventTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListEventTypeDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Etkinlik Türü Yönetimi"],
        "summary": "Etkinlik Türü Ekle",
        "description": "Yeni bir etkinlik kategorisi ve yetkili rolleri tanımlar.",
        "operationId": "addEventType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateEventTypeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Etkinlik türü başarıyla eklendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultEventTypeDto" } }
            }
          },
          "403": { "description": "Yetkisiz erişim." }
        }
      }
    },
    "/api/event-days": {
      "post": {
        "tags": ["Etkinlik Günleri"],
        "summary": "Etkinlik Günü Oluştur",
        "operationId": "createEventDay",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateEventDayRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultGetEventDayResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/competitors": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Tüm Yarışmacıları Listele",
        "description": "Sistemdeki tüm etkinliklere ait tüm yarışmacı kayıtlarını getirir.",
        "operationId": "getAllCompetitors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCompetitorDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Yarışmacı Ekle",
        "description": "Belirtilen kullanıcıyı belirli bir etkinliğe yarışmacı olarak kaydeder.",
        "operationId": "addCompetitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCompetitorRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Yarışmacı başarıyla oluşturuldu.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCompetitorDto" } }
            }
          },
          "400": { "description": "Kullanıcı zaten yarışmacı veya iş kuralı ihlali." },
          "403": { "description": "Yetkisiz erişim." }
        }
      }
    },
    "/api/certificates": {
      "post": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Sertifika Oluştur",
        "operationId": "createCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCertificateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCertificateDto" } }
            }
          }
        }
      }
    },
    "/api/announcements": {
      "get": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Tüm Duyuruları Getir",
        "description": "Sistemdeki tüm duyuruları liste halinde döner.",
        "operationId": "getAllAnnouncements",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListAnnouncementDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Yeni Duyuru Ekle",
        "description": "Sisteme yeni bir duyuru kaydı oluşturur.",
        "operationId": "addAnnouncement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAnnouncementRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Duyuru başarıyla eklendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultAnnouncementDto" } }
            }
          },
          "400": { "description": "Validasyon hatası veya eksik parametre." },
          "403": { "description": "Erişim reddedildi." }
        }
      }
    },
    "/api/users/{id}": {
      "get": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Kullanıcı Detayını Getir",
        "description": "Belirtilen UUID'ye sahip kullanıcının detaylarını döner.",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Kullanıcı detayları getirildi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          },
          "404": { "description": "Kullanıcı bulunamadı." }
        }
      },
      "delete": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Kullanıcı Sil",
        "description": "Belirtilen kullanıcıyı sistemden siler. LDAP bağlantısı varsa LDAP üzerinden de silinir.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          }
        }
      },
      "patch": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Kullanıcı Güncelle (Admin)",
        "description": "Yetkili personelin belirtilen kullanıcının verilerini güncellemesini sağlar.",
        "operationId": "updateUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateUserRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Aktif Kullanıcı Bilgilerini Getir",
        "description": "Sisteme giriş yapmış kullanıcının profil verilerini döner.",
        "operationId": "getAuthenticatedUser",
        "responses": {
          "200": {
            "description": "Kullanıcı bilgileri başarıyla getirildi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          },
          "401": { "description": "Yetkilendirme hatası." }
        }
      },
      "patch": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Aktif Kullanıcı Profilini Güncelle",
        "description": "Sisteme giriş yapmış kullanıcının kendi profil bilgilerini güncellemesini sağlar.",
        "operationId": "updateAuthenticatedUser",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateUserRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kullanıcı profili güncellendi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          }
        }
      }
    },
    "/api/announcements/{id}": {
      "get": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Duyuru Detayı Getir",
        "description": "Belirtilen UUID'ye sahip duyurunun detaylarını listeler.",
        "operationId": "getAnnouncementById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Duyuru UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Duyuru detayı getirildi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultAnnouncementDto" } }
            }
          },
          "404": { "description": "Duyuru bulunamadı." }
        }
      },
      "delete": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Duyuru Sil",
        "description": "Belirtilen duyuruyu sistemden kalıcı olarak siler.",
        "operationId": "deleteAnnouncement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Duyuru UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Duyuru başarıyla silindi.",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Result" } } }
          },
          "403": { "description": "Erişim reddedildi." },
          "404": { "description": "Silinmek istenen duyuru bulunamadı." }
        }
      },
      "patch": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Duyuru Güncelle",
        "description": "Duyuruya ait verileri kısmi olarak günceller.",
        "operationId": "updateAnnouncement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Duyuru UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAnnouncementRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Duyuru başarıyla güncellendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultAnnouncementDto" } }
            }
          },
          "404": { "description": "Güncellenmek istenen duyuru bulunamadı." }
        }
      }
    },
    "/internal/api/users/{id}": {
      "get": {
        "tags": ["internal-user-controller"],
        "operationId": "getUserById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          }
        }
      }
    },
    "/internal/api/users/authenticated-user": {
      "get": {
        "tags": ["internal-user-controller"],
        "operationId": "getAuthenticatedUser_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/DataResultUserDto" } } }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": ["Kullanıcı Yönetimi"],
        "summary": "Tüm Kullanıcıları Getir",
        "description": "Sistemdeki tüm kullanıcıları listeler. E-posta ve rol bazlı filtreleme yapılabilir.",
        "operationId": "getAllUsers",
        "parameters": [
          { "name": "email", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "roles",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListUserDto" } }
            }
          }
        }
      }
    },
    "/api/tickets": {
      "get": {
        "tags": ["Bilet İşlemleri"],
        "summary": "Biletleri Filtrele",
        "description": "E-posta veya kullanıcı ID'sine göre bilet listeler.",
        "operationId": "getTickets",
        "parameters": [
          { "name": "email", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultListGetTicketResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/tickets/{ticketId}": {
      "get": {
        "tags": ["Bilet İşlemleri"],
        "summary": "Bilet Detayını Getir",
        "description": "Sistemdeki biletin sahiplik ve etkinlik detaylarını getirir.",
        "operationId": "getTicketById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Bilet UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Bilet detayları başarıyla getirildi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultGetTicketResponseDto" } }
            }
          },
          "404": { "description": "Bilet bulunamadı." }
        }
      }
    },
    "/api/tickets/user/{userId}/event/{eventId}": {
      "get": {
        "tags": ["Bilet İşlemleri"],
        "summary": "Kullanıcı ve Etkinliğe Göre Bilet Getir",
        "operationId": "getTicketByUserIdAndEventId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultGetTicketResponseDto" } }
            }
          }
        }
      }
    },
    "/api/tickets/me": {
      "get": {
        "tags": ["Bilet İşlemleri"],
        "summary": "Kullanıcı Biletlerini Getir",
        "description": "İstek atan kullanıcının sahip olduğu tüm biletleri listeler.",
        "operationId": "getMyTickets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultListGetTicketResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/seasons/{seasonId}/events": {
      "get": {
        "tags": ["Sezon - Etkinlik Yönetimi"],
        "summary": "Sezona Ait Etkinlikleri Getir",
        "description": "Belirtilen sezona dahil olan tüm etkinlikleri listeler.",
        "operationId": "getEventsBySeason",
        "parameters": [
          {
            "name": "seasonId",
            "in": "path",
            "description": "Sezon UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Etkinlikler başarıyla listelendi.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListEventDto" } }
            }
          },
          "404": { "description": "Sezon bulunamadı." }
        }
      }
    },
    "/api/seasons/name/{name}": {
      "get": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Sezon Adına Göre Getir",
        "description": "Belirtilen isimle eşleşen sezonu getirir.",
        "operationId": "getSeasonByName",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSeasonDto" } }
            }
          }
        }
      }
    },
    "/api/seasons/active": {
      "get": {
        "tags": ["Sezon Yönetimi"],
        "summary": "Aktif Sezonları Getir",
        "description": "Sadece şu anda aktif olan sezonları listeler.",
        "operationId": "getActiveSeasons",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListSeasonDto" } }
            }
          }
        }
      }
    },
    "/api/qr-codes/generate": {
      "get": {
        "tags": ["QR Kod Servisi"],
        "summary": "Standart QR Kod Üret",
        "description": "Verilen metin/URL değerinden standart bir QR kod resmi (PNG) oluşturur.",
        "operationId": "generateQRCode",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "QR kod içine gömülecek veri (Metin veya URL)",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Resmin genişliği (px)",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Resmin yüksekliği (px)",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "image/png": { "schema": { "type": "string", "format": "byte" } } }
          }
        }
      }
    },
    "/api/qr-codes/generate-with-logo": {
      "get": {
        "tags": ["QR Kod Servisi"],
        "summary": "Logolu QR Kod Üret",
        "description": "Verilen metin/URL değerinden, ortasında SKY LAB logosu bulunan bir QR kod resmi (PNG) oluşturur.",
        "operationId": "generateQRCodeWithLogo",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "QR kod içine gömülecek veri (Metin veya URL)",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Resmin genişliği (px)",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Resmin yüksekliği (px)",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "logoSize",
            "in": "query",
            "description": "Logonun boyutu (Varsayılan: 50px)",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "image/png": { "schema": { "type": "string", "format": "byte" } } }
          }
        }
      }
    },
    "/api/media/{id}": {
      "get": {
        "tags": ["Medya Yönetimi"],
        "summary": "Medya Bilgilerini Getir",
        "description": "Belirtilen UUID değerine sahip medyanın meta verilerini döner. Genel erişime açıktır.",
        "operationId": "getMediaById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Medya UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultMediaUploadResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/events/{eventId}/tickets": {
      "get": {
        "tags": ["Etkinlik Biletleri"],
        "operationId": "getTicketsByEventId",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultListGetTicketResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/events/{eventId}/sessions": {
      "get": {
        "tags": ["Etkinlik Oturumları"],
        "summary": "Etkinliğin Oturumlarını Getir",
        "description": "Verilen etkinlik ID'sine ait tüm oturumları listeler.",
        "operationId": "getSessionsByEventId",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventDayId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListSessionDto" } }
            }
          }
        }
      }
    },
    "/api/events/{eventId}/competitors": {
      "get": {
        "tags": ["Etkinlik - Yarışmacılar Alt Kaynağı"],
        "summary": "Etkinlik Yarışmacılarını Listele",
        "description": "Belirtilen UUID'ye sahip etkinlikteki tüm yarışmacı kayıtlarını getirir. Genel erişime açıktır.",
        "operationId": "getCompetitorsByEventId",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCompetitorDto" } }
            }
          }
        }
      }
    },
    "/api/events/{eventId}/competitors/winner": {
      "get": {
        "tags": ["Etkinlik - Yarışmacılar Alt Kaynağı"],
        "summary": "Etkinlik Kazananını Getir",
        "description": "Belirtilen etkinliği kazanan yarışmacı bilgisini döner. Genel erişime açıktır.",
        "operationId": "getEventWinner",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultCompetitorDto" } }
            }
          }
        }
      }
    },
    "/api/events/active": {
      "get": {
        "tags": ["Etkinlik Yönetimi"],
        "summary": "Aktif Etkinlikleri Getir",
        "description": "Yalnızca aktif durumu true olan etkinlikleri listeler.",
        "operationId": "getActiveEvents",
        "responses": {
          "200": {
            "description": "Aktif etkinlikler başarıyla listelendi.",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/event-types/{eventTypeName}/coordinators": {
      "get": {
        "tags": ["Etkinlik Türü - Koordinatörler"],
        "summary": "Kategori Koordinatörlerini Getir",
        "description": "Belirtilen etkinlik türünün (Örn: AGC) sorumlu koordinatör listesini getirir. Genel erişime açıktır.",
        "operationId": "getCoordinatorsByEventType",
        "parameters": [
          {
            "name": "eventTypeName",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultSetUserDto" } }
            }
          }
        }
      }
    },
    "/api/event-days/event/{eventId}": {
      "get": {
        "tags": ["Etkinlik Günleri"],
        "summary": "Etkinliğe Ait Günleri Listele",
        "operationId": "getEventDaysByEventId",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/DataResultListGetEventDayResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/competitors/user/{userId}": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Kullanıcıya Göre Yarışmacıları Listele",
        "operationId": "getCompetitorsByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Kullanıcı UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCompetitorDto" } }
            }
          }
        }
      }
    },
    "/api/competitors/me": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Aktif Kullanıcının Yarışma Geçmişi",
        "description": "Sisteme giriş yapmış olan kullanıcının katıldığı tüm yarışmaların bilgilerini getirir.",
        "operationId": "getMyCompetitors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCompetitorDto" } }
            }
          }
        }
      }
    },
    "/api/competitors/leaderboard/type/{eventTypeName}": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Genel Liderlik Tablosu",
        "description": "Belirtilen etkinlik türüne ait tüm zamanların liderlik sıralamasını getirir. Oturum kontrolü gerektirmez.",
        "operationId": "getLeaderboard",
        "parameters": [
          {
            "name": "eventTypeName",
            "in": "path",
            "description": "Etkinlik Türü Adı",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListLeaderboardDto" } }
            }
          }
        }
      }
    },
    "/api/competitors/leaderboard/season/{seasonId}/type/{eventTypeName}": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Sezonluk Liderlik Tablosu",
        "description": "Belirtilen sezon ve etkinlik türüne ait dönemsel liderlik sıralamasını getirir. Oturum kontrolü gerektirmez.",
        "operationId": "getSeasonLeaderboard",
        "parameters": [
          {
            "name": "seasonId",
            "in": "path",
            "description": "Sezon UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "eventTypeName",
            "in": "path",
            "description": "Etkinlik Türü Adı",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListLeaderboardDto" } }
            }
          }
        }
      }
    },
    "/api/competitors/event-type/{eventTypeId}": {
      "get": {
        "tags": ["Yarışmacı Yönetimi"],
        "summary": "Etkinlik Türüne Göre Yarışmacıları Listele",
        "operationId": "getCompetitorsByEventTypeId",
        "parameters": [
          {
            "name": "eventTypeId",
            "in": "path",
            "description": "Etkinlik Türü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCompetitorDto" } }
            }
          }
        }
      }
    },
    "/api/certificates/user/{userId}": {
      "get": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Kullanıcıya Ait Sertifikaları Listele",
        "operationId": "getCertificatesByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Kullanıcı UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCertificateDto" } }
            }
          }
        }
      }
    },
    "/api/certificates/me": {
      "get": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Kendi Sertifikalarımı Getir",
        "operationId": "getMyCertificates",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCertificateDto" } }
            }
          }
        }
      }
    },
    "/api/certificates/event/{eventId}": {
      "get": {
        "tags": ["Sertifika Yönetimi"],
        "summary": "Etkinliğe Ait Sertifikaları Listele",
        "operationId": "getCertificatesByEventId",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Etkinlik UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListCertificateDto" } }
            }
          }
        }
      }
    },
    "/api/announcements/event-type/{eventTypeId}": {
      "get": {
        "tags": ["Duyuru Yönetimi"],
        "summary": "Etkinlik Türüne Göre Duyuruları Getir",
        "description": "Sadece belirli bir etkinlik türüne atanmış duyuruları filtreler.",
        "operationId": "getAllAnnouncementsByEventTypeId",
        "parameters": [
          {
            "name": "eventTypeId",
            "in": "path",
            "description": "Etkinlik Türü UUID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/DataResultListAnnouncementDto" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateSessionRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "speakerName": { "type": "string" },
          "speakerLinkedin": { "type": "string" },
          "description": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "orderIndex": { "type": "integer", "format": "int32" },
          "sessionType": {
            "type": "string",
            "enum": [
              "WORKSHOP",
              "PRESENTATION",
              "PANEL",
              "KEYNOTE",
              "NETWORKING",
              "OTHER",
              "CTF",
              "HACKATHON",
              "JAM"
            ]
          }
        }
      },
      "DataResultSessionDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/SessionDto" }
        }
      },
      "EventDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "coverImageUrl": { "type": "string" },
          "description": { "type": "string" },
          "location": { "type": "string" },
          "type": { "$ref": "#/components/schemas/EventTypeDto" },
          "formUrl": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" },
          "linkedin": { "type": "string" },
          "active": { "type": "boolean" },
          "ranked": { "type": "boolean" },
          "prizeInfo": { "type": "string" },
          "season": { "$ref": "#/components/schemas/SeasonDto" },
          "sessions": { "type": "array", "items": { "$ref": "#/components/schemas/SessionDto" } },
          "imageUrls": { "type": "array", "items": { "type": "string" } }
        }
      },
      "EventTypeDto": {
        "type": "object",
        "properties": { "id": { "type": "string", "format": "uuid" }, "name": { "type": "string" } }
      },
      "SeasonDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" },
          "active": { "type": "boolean" }
        }
      },
      "SessionDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "speakerName": { "type": "string" },
          "speakerLinkedin": { "type": "string" },
          "speakerImageUrl": { "type": "string" },
          "description": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "orderIndex": { "type": "integer", "format": "int32" },
          "eventDayId": { "type": "string", "format": "uuid" },
          "event": { "$ref": "#/components/schemas/EventDto" },
          "sessionType": {
            "type": "string",
            "enum": [
              "WORKSHOP",
              "PRESENTATION",
              "PANEL",
              "KEYNOTE",
              "NETWORKING",
              "OTHER",
              "CTF",
              "HACKATHON",
              "JAM"
            ]
          }
        }
      },
      "UpdateSeasonRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" },
          "active": { "type": "boolean" }
        },
        "required": ["name"]
      },
      "DataResultSeasonDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/SeasonDto" }
        }
      },
      "UpdateEventRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "location": { "type": "string" },
          "type": { "type": "string" },
          "formUrl": { "type": "string" },
          "prizeInfo": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "typeId": { "type": "string", "format": "uuid" },
          "seasonId": { "type": "string", "format": "uuid" },
          "endDate": { "type": "string", "format": "date-time" },
          "linkedin": { "type": "string" },
          "active": { "type": "boolean" },
          "competitionId": { "type": "string", "format": "uuid" },
          "ranked": { "type": "boolean" }
        }
      },
      "DataResultEventDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/EventDto" }
        }
      },
      "UpdateEventTypeRequest": {
        "type": "object",
        "properties": { "name": { "type": "string" } }
      },
      "DataResultEventTypeDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/EventTypeDto" }
        }
      },
      "UpdateEventDayRequest": {
        "type": "object",
        "properties": {
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" }
        }
      },
      "DataResultGetEventDayResponseDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GetEventDayResponseDto" }
        }
      },
      "GetEventDayResponseDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" },
          "event": { "$ref": "#/components/schemas/EventDto" }
        }
      },
      "UpdateCompetitorRequest": {
        "type": "object",
        "properties": {
          "userId": { "type": "string", "format": "uuid" },
          "eventId": { "type": "string", "format": "uuid" },
          "points": { "type": "number", "format": "double" },
          "winner": { "type": "boolean" }
        }
      },
      "CompetitorDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "user": { "$ref": "#/components/schemas/UserDto" },
          "event": { "$ref": "#/components/schemas/EventDto" },
          "score": { "type": "number", "format": "double" },
          "rank": { "type": "integer", "format": "int32" },
          "winner": { "type": "boolean" }
        }
      },
      "DataResultCompetitorDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/CompetitorDto" }
        }
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "skyNumber": { "type": "string" },
          "username": { "type": "string" },
          "profilePictureUrl": { "type": "string" },
          "linkedin": { "type": "string" },
          "university": { "type": "string" },
          "faculty": { "type": "string" },
          "department": { "type": "string" },
          "ldapUser": { "type": "boolean" }
        }
      },
      "UpdateCertificateRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "storedLink": { "type": "string" },
          "nameboxCenterX": { "type": "integer", "format": "int32" },
          "nameboxCenterY": { "type": "integer", "format": "int32" }
        }
      },
      "CertificateDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "eventId": { "type": "string", "format": "uuid" },
          "eventName": { "type": "string" },
          "owners": { "type": "array", "items": { "$ref": "#/components/schemas/UserDto" } },
          "storedLink": { "type": "string" },
          "nameboxCenterX": { "type": "integer", "format": "int32" },
          "nameboxCenterY": { "type": "integer", "format": "int32" }
        }
      },
      "DataResultCertificateDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "$ref": "#/components/schemas/CertificateDto" }
        }
      },
      "DataResultListUserDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 CONTENT_TOO_LARGE",
              "413 PAYLOAD_TOO_LARGE",
              "414 URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "421 MISDIRECTED_REQUEST",
              "422 UNPROCESSABLE_CONTENT",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "path": { "type": "string" },
          "timeStamp": { "type": "string", "format": "date-time" },
          "correlationId": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/UserDto" } }
        }
      },
      "PromoteUserRequest": {
        "type": "object",
        "properties": {
          "targetRole": { "type": "string" },
          "initialPassword": { "type": "string" }
        }
      },
      "Result": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
[...]
